<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springdemo.dao.UserMapper">

	<resultMap id="userMap" type="com.springdemo.entity.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="addUser" parameterType="com.springdemo.entity.User">
		INSERT INTO users(username, password) values (#{username}, #{password})
	</insert>

	<select id="getUserById" parameterType="int" resultMap="userMap">
		SELECT * FROM users WHERE id = #{id}
	</select>
	
	<select id="getUserByName" parameterType="String" resultMap="userMap">
		SELECT * FROM users WHERE username = #{username}
	</select>

	<update id="updateUser" parameterType="com.springdemo.entity.User">
		UPDATE users SET username = #{username}, password = #{password} WHERE id = #{id}
	</update>
	
	<delete id="deleteUserById" parameterType="int">
		DELETE FROM users WHERE id = #{id}
	</delete>
	
	<delete id="deleteUserByName" parameterType="String">
		DELETE FROM users WHERE username = #{username}
	</delete>
	
	<select id="getAllUser" resultMap="userMap">
		SELECT * FROM users
	</select>
</mapper>